RLEditor/obj/
RLEditor/bin/
styles/
ErrorLog.txt
ProfilingLog.txt
Test/
NeoLemmix147Settings.ini
gfx/
NeoLemmixHotkeys.ini
TempTestLevel.nxlv
styles_OLD/
sound/
RLEditor/Level.cs~RF4b1091c.TMP
*.TMP
RLEditorSettings.ini
RLEditor.exe.config
RLEditor.vshost.exe.config
styles_OLD_2/
data/
levels/
music/
save/
*.zip
RLEditor/publish/
neolemmix_logging.txt
RLEditor.application
RLEditor.exe.manifest
RLEditor.vshost.application
RLEditor.vshost.exe.manifest
RLEditor/RLEditor_TemporaryKey.pfx
.vs/
RLEditor/RLEditor.csproj.user
